* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin: 0;
}

/* Header and Navigation */
header {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin-top: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  top:0;
  margin-left: 10vw;
}
nav > p{
  margin-right: 40px;
}
nav > p > a{
  text-decoration: none;
  color: #fff;
}
.member-btn{
  margin-right:10vw;
  height: 2.5rem;
  padding: 10px;
  width: 12rem;
  background-color: #0066cc;
  border-radius: 5px;
  border: none;
}
.member-btn:hover{
  background-color: #042a50;
}
.member-btn > a {
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  font-size: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.brand-name {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
nav ul {
  list-style: none;
  display: flex;
  margin-right: 20vw;
}

nav ul li {
  margin-left: 40px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
}

/* Hero Section */
.hero-section {
  background-image: url('images/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.hero-content {
  margin-top: 14%;
  position: relative;
  max-width: 500px;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.hero-content h1 {
  font-size: 45px;
  margin-bottom: 40px;
  font-weight: bolder;
  line-height: 1.2;
  width: 420px;
}

.hero-content p {
  margin-top: 60px;
  font-size: 18px;
  margin-bottom: 10%;
  width: 420px;
}

.hero-btns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.get-quote,
.learn-more {
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}
.get-quote {
  background-color: #0066cc;
  color: #fff;
  margin-right: 10px;
}

.learn-more {
  background-color: transparent;
  color:white;
  border: 1px solid white;
}

/* Features Section */
.features {
  display: flex;
  padding: 0 20px;
  position: relative;
  margin-bottom: 50px;
  margin-top: -50px;
  margin-left: 15vw;
}

.feature {
  text-align: center;
  padding: 20px;
  background-color: white;
  width: 300px;
  margin-left: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.feature-icon {
  background-color: white;
}
.feature-icon>ion-icon {
  width: 50px;
  height: 50px;
  color: rgb(8, 65, 253)
  
}
.feature:nth-child(3) {
  background-color: rgb(8, 65, 253);
  position: relative;
  color: white;
}

.feature:nth-child(3)>.feature-icon {
  background-color: rgb(8, 65, 253);
  color: white;
}

.feature:nth-child(3)>.feature-icon>ion-icon {
  color: white;
}
.feature:nth-child(3) p {
  color: white;
  
}


.feature p {
  color: #666;
}

/* Services Section */
.services {
  display: flex;
  width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}
.service {
  text-align: center;
  flex: 1;
  padding: 20px;
}
.service p{
  font-size: 15px;
  color: gray;
}
.service-icon>ion-icon {
  margin-top: 20%;
  margin-bottom: 20%;
  width: 50px;
  height: 50px;
  color: rgb(8, 65, 253) 
}

/* Industry Section */
.industry {
  padding: 40px 20px;
  position: relative;
  margin-bottom: 10%;
}
.industry-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.industry-area > p{
  font-size: 15px;
  color: gray;
}
.industry-area > p > span{
  margin-left: 60px;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #2222;
  margin: 0 10px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 15px;
  gap: 15px;
}

img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.rating {
  color: #ffc107;
  font-size: 24px;
}

/* Logo Section */
.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 60px;
}

.logo-container img {
  height: 50px;
  margin: 0 10px;
  width: 80px;
  font-size: 18px;
}

.subscribe-container {
  background: linear-gradient(to right, #0072ff, #8c2ab8);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 10%;
}

.subscribe-text {
  font-size: 20px;
  margin-left: 20px;
}

.subscribe-form {
  display: flex;
  margin-right: 20px;
}

.subscribe-form input {
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}

.subscribe-form button {
  background-color: #0072ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  cursor: pointer;
}
/*Pricing sections*/
.pricing {
  background-color: white;
  padding: 40px 20px;
  position: relative;
  margin-top: 40px;
}
.pricing-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.pricing-card {
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  padding: 20px;
  width: 300px;
  border: solid 1px rgb(120, 120, 187);
}

.standard {
  background-color: rgb(3, 3, 56);
  color: white;
  margin-top: -40px;
  margin-right: -10px;
  margin-left: -10px;
}

.pricing-header {
  font-size: 24px;
  font-weight: bold;
}

.pricing-feature {
  font-size: 16px;
  margin: 10px 0;
}

.pricing-cost {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pricing-cost span {
  font-size: 18px;
  font-weight: normal;
}

.pricing-features {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.pricing-features li {
  margin-bottom: 10px;
}
li{
  display: flex;
  gap: 10px;
}

.green{
  background-color: green;
  border-radius: 50%;
  padding: 5px;
}
.gray{
  background-color: gray;
  border-radius: 50%;
  padding: 5px;
}

.pricing-button {
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 20px;
  width: 14rem;
}

.pricing-button:hover {
  background-color: #45a049;
}
/*Worldmap sections*/
.worldmap {
  background-color: rgb(12, 11, 11);
  position: relative;
  width: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}



.map-section {
  height: 75vh;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
}
.text-section {
  margin-top: 70px;
  padding-left: 100px;
}
.map-section img {
    width: 400px;
    height: 200px;
}

.appointment-section {
  margin-top: -140px;
  z-index: 2 !important;
  width: 68.5vw;
  background-image: url("./images/contact.png");
  background-repeat: no-repeat;
  height: 72vh;
  padding-left: -130px;
  margin-left: 250px;
}

.appointment-form {
  width: 35vw;
  background-color: #fff;
  padding: 20px;
  margin-left: 33vw;
  height: 72vh;
}

.appointment-form > form > h2 {
  margin-top: 20px;
  margin-left:  75px;
  margin-bottom: 30px;

}

label{
  font-weight: 600;
}
.appointment-form input,
.appointment-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.appointment-form input:focus{
  outline: none;
}
.appointment-form select{
  color: #000;
}
.appointment-form input::placeholder {
  color: #aaa;
}

.appointment-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #0072ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.appointment-form button:hover {
  background-color: #005ce6;
}
/*Consulting agency sections*/
.consulting{
  background-color: white;
  padding: 40px 20px;
  position: relative;  
}
.container {
  max-width: 1200px;
  padding: 20px;
}

.header {
  margin-bottom: 40px;
}
.text-button{
  display: flex;
  justify-content: space-between;
}
.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.header p {
  font-size: 16px;
  color: #888;
  margin-bottom: 20px;
}

.contact-btn {
  background-color: #0077b6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0;
}

.column h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.column li {
  margin-bottom: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.social-icons i {
  margin-left: 10px;
  font-size: 20px;
}

